{
	"extends": ["@imaginelearning/eslint-config/base"],
	"parserOptions": {
		"project": [
			"./tsconfig.json",
			"./packages/caliper-ts/tsconfig.json",
			"./packages/caliper-ts/tsconfig.tests.json"
		]
	},
	"overrides": [
		{
			"files": ["packages/caliper-ts-objects/src/**/*.ts"],
			"rules": {
				"@typescript-eslint/no-explicit-any": "off"
			}
		}
	]
}
