[submodule "caliper-spec"]
	path = caliper-spec
	url = https://github.com/IMSGlobal/caliper-spec.git
[submodule "src/caliper-spec"]
	path = src/caliper-spec
	url = https://github.com/IMSGlobal/caliper-spec.git
